---
import { getCollection } from "astro:content";
import Footer from "../../components/blocks/Footer.astro";
import Header from "../../components/blocks/Header.astro";
import Button from "../../components/ui/Button.astro";
import Section from "../../components/ui/Section.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const blogEntries = await getCollection("vacancies");
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
	<Header/>
	<Section>
    <article>
      <h3 class="h2">{entry.data.title}</h1>
      <p>
        <Button as="span" class="button_type-transparent">{entry.data.tag}</Button>
      </p>
      <p>от: 
        <time datetime={entry.data.publishDate.toLocaleDateString()}>
          {entry.data.publishDate.toLocaleDateString()}
        </time>
      </p>
      <Content />
    </article>
  </Section>
  <Footer />
</Layout>