h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 400;
	text-wrap: balance;
	color: var(--text-color);
}

h1,
.h1 {
	font-size: var(--heading-1);
	line-height: 1.1;
	margin: var(--70px) 0;
	letter-spacing: calc(var(--heading-1) / 100 * -3);
}

h2,
.h2 {
	font-size: var(--heading-2);
	line-height: 1.01;
	margin: var(--60px) 0;
	letter-spacing: calc(var(--heading-2) / 100 * -3);
}

h3,
.h3 {
	font-size: var(--heading-3);
	line-height: 1;
	margin: var(--40px) 0;
}

h4,
.h4 {
	font-size: var(--heading-4);
	line-height: 1.33;
	margin: var(--32px) 0;
	letter-spacing: calc(var(--heading-4) / 100 * -2);
}

h5,
.h5 {
	font-size: var(--heading-5);
	line-height: 1.33;
	margin: var(--30px) 0 var(--8px);
}

h6,
.h6 {
	font-size: var(--heading-6);
	line-height: 1.33;
	margin: var(--16px) 0;
}

p,
ul,
ol,
table {
	margin: 0 0 var(--20px);
}

p {
	text-wrap: balance;
}
p:has(+ p),
p:has(+ ul),
p:has(+ ol),
p:has(+ a),
p:has(+ button) {
	margin-bottom: var(--20px);
}

ul,
ol {
	padding: 0;
}
ul > li {
	list-style-type: "– ";
}
ul > li,
ol > li,
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: var(--20px);
}

.lead {
	font-size: var(--lead-font-size);
	line-height: 1.33;
	letter-spacing: calc(var(--lead-font-size) / 100 * -2);
	text-wrap: auto;
}

.small {
	font-size: var(--small-font-size);
}

.text-medium {
	font-weight: 500;
}

@media screen and (--screen-phone) {
	/* h1,
	.h1 {
		margin: var(--90px) 0 var(--30px);
	}
	h2,
	.h2 {
		margin: var(--60px) 0 var(--30px);
	}
	h3,
	.h3 {
		margin: var(--60px) 0 var(--30px);
	}
	h4,
	.h4 {
		margin: var(--30px) 0 var(--30px);
	} */
	h5,
	.h5 {
		margin-top: var(--40px);
	}
	p,
	ul,
	ol,
	table {
		margin: 0 0 var(--16px);
	}
	ul > li,
	ol > li,
	li > ul,
	li > ol {
		margin-left: var(--16px);
	}
}
