---
import Section from "../ui/Section.astro";
// import { Image } from "astro:assets";
// import face1 from "../../assets/img/fdc-1.png";

const { ...props } = Astro.props;
---

<Section {...props}>
  <p class="lead">
    Компания с&nbsp;<span class="big-text">2013</span> года совместно со&nbsp;своими
    партнерами реализует проекты в&nbsp;сфере информационных технологий&nbsp;&mdash;
    мобильная разработка, корпоративные системы, in-door системы для бизнеса и&nbsp;другие
    проекты.
  </p>
  <p class="sub-lead h5">
    <span class="sub-lead__upper-text">в&nbsp;портфолиo ibsys</span>
    <span class="sub-lead__main-text big-text">более 40</span>
    <span class="sub-lead__bottom-text">успешных кейсов</span>
  </p>
  <p class="lead">
    которые помогли нашим клиентам решить свои бизнес-задачи. Среди
    реализованных нами проектов&nbsp;&mdash; CRM системы, сложные веб-сайтыс
    различными интеграциями, системы аналитики и&nbsp;управления, геолокационные
    системы и&nbsp;другие.
  </p>
  <p class="lead">
    ibsys обладает большой командой, состоящей из&nbsp;специалистов
    <!-- скрыты лица сотрудников -->
    <!-- <span class="img-group">
      <Image
        src={face1}
        alt=""
        role="presentation"
        loading="lazy"
      />
      <Image
        src={face1}
        alt=""
        role="presentation"
        loading="lazy"
      />
      <Image
        src={face1}
        alt=""
        role="presentation"
        loading="lazy"
      />
    </span> -->
    по&nbsp;разработке&nbsp;ИТ проектов практически любой сложности.
  </p>
</Section>

<style>
  @import "/src/assets/css/_custom-media.css";

  .section {
    padding: var(--16px) 0 var(--20px);
  }
  .big-text {
    font-size: var(--heading-1);
    font-weight: 500;
    line-height: 1;
  }
  .lead {
    margin: var(--50px) 0 var(--60px);
  }
  .sub-lead {
    margin-bottom: var(--60px);
    padding-right: var(--110px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sub-lead__upper-text {
    margin: 0;
    transform: translateX(calc(var(--20px) * -1));
    font-size: var(--heading-6);
  }
  .sub-lead__main-text {
    line-height: 0.8;
    margin: 0 0 calc(var(--1px) * 13);
  }
  .sub-lead__bottom-text {
    margin: 0;
    transform: translateX(var(--110px));
    font-size: var(--heading-6);
  }

  .img-group {
    display: inline-flex;
    align-items: center;
    align-items: end;
    height: var(--1px);
    & img {
      width: var(--60px);
      height: var(--60px);
      border-radius: var(--60px);
      border: calc(var(--1px) * 3) solid #cedfff;
      background-color: var(--color-product);
      transform: translateY(var(--16px));

      & + & {
        margin-left: calc(var(--20px) * -1);
      }
    }
  }

  @media screen and (--screen-phone) {
  }
</style>
