---
// import { Image } from "astro:assets";
import Section from "../ui/Section.astro";

// import logo1 from "../../assets/img/logo.svg";

const { ...props } = Astro.props;
---

<Section {...props}>
  <h2 class="lead">уже работаем вместе — нам доверяют</h2>
  <div class="client-list-wrapper">
    <ul class="client-list">
      <li class="client-list__item">
        <img src="https://place-hold.it/115x115" alt="" loading="lazy">
        <!-- <Image
          src={logo1}
          alt=""
          role="presentation"
          loading="lazy"
        /> -->
      </li>
      <li class="client-list__item">
        <img src="https://place-hold.it/175x65" alt="" loading="lazy">
      </li>
      <li class="client-list__item">
        <img src="https://place-hold.it/185x45" alt="" loading="lazy">
      </li>
      <li class="client-list__item">
        <img src="https://place-hold.it/190x40" alt="" loading="lazy">
      </li>
      <li class="client-list__item">
        <img src="https://place-hold.it/120x60" alt="" loading="lazy">
      </li>
      <li class="client-list__item">
        <img src="https://place-hold.it/160x30" alt="" loading="lazy">
      </li>
      <li class="client-list__item">
        <img src="https://place-hold.it/100x100" alt="" loading="lazy">
      </li>
      <li class="client-list__item">
        <img src="https://place-hold.it/185x60" alt="" loading="lazy">
      </li>
    </ul>
  </div>
</Section>

<style>
  @import "/src/assets/css/_custom-media.css";

  .section {
    padding: 0 0 var(--100px);
  }
  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--20px) * -1) 0 0;
    padding: 0;
    gap: var(--30px);
    align-items: center;
    justify-content: center;
  }
  .client-list__item {
    list-style-type: none;
    padding: var(--20px) var(--40px);
    margin: 0;
    width: calc(var(--1px) * 270);
    height: calc(var(--1px) * 160);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (--screen-phone) {
    .section {
      padding-bottom: 0;
    }
    .lead {
      font-size: var(--heading-4);
      line-height: 1;
      padding-right: var(--16px);
    }
    .client-list-wrapper {
      display: grid;
      grid-template-rows: repeat(2, 1fr); /* Две строки */
      grid-auto-flow: column; /* Заполнение по столбцам */
      
      gap: var(--36px);
      margin: 0 calc(var(--gutter) * -1) calc(var(--16px)* -1);
      padding: 0 var(--gutter) 0;

      -webkit-overflow-scrolling: touch;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-padding-left: var(--gutter);
      scroll-padding-right: var(--gutter);
    }

    .client-list {
      display: contents; /* Убираем стандартное поведение списка */
    }

    .client-list__item {
      justify-content: center;
      align-items: center;
      display: flex;
      width: calc(var(--1px)* 200);
      height: var(--80px);
      margin-bottom: var(--20px);
    }

    .client-list__item img {
        width: 100px; /* Ширина логотипа */
        height: auto; /* Сохраняем пропорции */
    }
  }
</style>
