---
import Section from "../ui/Section.astro";

const { ...props } = Astro.props;
---

<Section {...props}>
  <h2 class="lead">
    есть идеи?  — напишите нам  —   реализуем
  </h2>
</Section>

<style>
  @import "/src/assets/css/_custom-media.css";

  @media screen and (--screen-phone) {
  }
</style>
