---
import ButtonSubmit from "../ui/ButtonSubmit.astro";
import ColoredText from "../ui/ColoredText.astro";
import FieldFile from "../ui/FieldFile.astro";
import FieldText from "../ui/FieldText.astro";
import FieldTextarea from "../ui/FieldTextarea.astro";

const { ...props } = Astro.props;
---

<form data-form class="form" {...props} novalidate>
  <input type="hidden" name="email" />
  <div class="form-layout">
    <div class="form-layout__col">
      <div class="form-row">
        <FieldText
          label="ФИО"
          name="name"
          id="contact_name"
          placeholder="Представьтесь, пожалуйста"
        />
      </div>
      <div class="form-row">
        <FieldText
          label="Телефон"
          name="phone"
          id="contact_phone"
          placeholder="+7"
          type="tel"
          pattern="^[+\\d][\\d\\s\\-\\(\\)]{6,}$"
          title="Введите номер телефона без букв. Например, +7 123 456-78-90"
          required
          aria-required="true"
        />
      </div>
      <div class="form-row">
        <FieldText
          label="Электропочта"
          name="liame"
          id="contact_liame"
          placeholder="example@domain.ru"
          type="email"
          required
          aria-required="true"
        />
      </div>
    </div>
    <div class="form-layout__col">
      <div class="form-row">
        <FieldTextarea
          label="Расскажите о проекте"
          name="message"
          id="contact_message"
        />
      </div>
      <div class="form-row">
        <FieldFile id="contact_file" name="file" aria-label="Резюме" />
      </div>
    </div>
  </div>
  <div class="form-footer">
    <ButtonSubmit />
  </div>
</form>

<script>
  import "../../assets/js/form.js";
</script>

<style>
  @import "/src/assets/css/_form.css";
</style>
