---
import Button from "../ui/Button.astro";
import ColoredText from "../ui/ColoredText.astro";
import FieldFile from "../ui/FieldFile.astro";

const { position, ...props } = Astro.props;
---
<div class="h4">откликнуться на вакансию</div>
<form
  data-form
  class="form"
  novalidate
  {...props}
>
  <input type="hidden" name="email" />
  <input type="hidden" name="vacancy" value={position} />
  <div class="form-row">
    <label class="form-label">ФИО</label>
    <input 
      type="text" 
      class="form-field" 
      name="name"
      aria-label="ФИО" 
      placeholder="Представьтесь, пожалуйста" 
    />
    <span class="form-field__error" data-field-error></span>
  </div>
  <div class="form-row">
    <label class="form-label">Телефон</label>
    <input 
      type="text" 
      class="form-field" 
      name="phone" 
      aria-label="Телефон" 
      placeholder="+7" 
    />
    <span class="form-field__error" data-field-error></span>
  </div>
  <div class="form-row">
    <label class="form-label">Ник в телеграм</label>
    <input 
      type="text" 
      class="form-field" 
      name="telegram" 
      aria-label="Ник в телеграм" 
      placeholder="@"
    />
    <span class="form-field__error" data-field-error></span>
  </div>
  <div class="form-row">
    <label class="form-label">Электропочта</label>
    <input 
      type="email" 
      class="form-field" 
      name="liame" 
      aria-label="Электропочта" 
      placeholder="example@domain.ru"
      required
      aria-required="true"
    />
    <span class="form-field__error" data-field-error></span>
  </div>
  <fielset class="form-row">
    <legend>Ваш грейд</legend>
    <div class="grade-list">
      <Button as="label" class="button_type-transparent">
        <input type="radio" class="sr-only" name="experience" value="Junior"/>
        Junior
      </Button>
      <Button as="label" class="button_type-transparent">
        <input type="radio" class="sr-only" name="experience" value="Middle"/>
        Middle
      </Button>
      <Button as="label" class="button_type-transparent">
        <input type="radio" class="sr-only" name="experience" value="Middle+"/>
        Middle+
      </Button>
      <Button as="label" class="button_type-transparent">
        <input type="radio" class="sr-only" name="experience" value="Senior"/>
        Senior
      </Button>
    </div>
    <span class="form-field__error" data-field-error></span>
  </fielset>
  <div class="form-row">
    <label class="form-label">Расскажите о себе и своем опыте</label>
    <textarea 
      name="message" 
      rows="3"
      aria-label="Расскажите о себе и своем опыте"
      class="form-field"
    ></textarea>
    <span class="form-field__error" data-field-error></span>
  </div>
  <div class="form-row">
    <FieldFile aria-label="Резюме" />
    <span class="form-field__error" data-field-error></span>
  </div>
  <div class="form-footer">
    <p
      role="alert"
      aria-live="polite"
      data-form-msg
      class="form-message"
    ></p>
    <button type="submit" class="form-submit">
      <ColoredText onhover="true">отправить</ColoredText>
    </button>
    <p class="processing-of-personal-data">
      Нажимая на кнопку, вы соглашаетесь с обработкой 
      <a href="/Политика.pdf" target="_blank">персональных данных</a>
    </p>
  </div>
</form>

<script>
  import "../../assets/js/form.js";
</script>

<style>
  @import "/src/assets/css/_custom-media.css";
  @import "/src/assets/css/_form.css";

  .form {
    margin-top: var(--30px);
  }
  label:has( input[type="radio"]:checked ) {
    background-color: var(--color-product);
    color: var(--color-white);
    box-shadow: none;

  }

  fielset.form-row {
    border: none;
    display: block;

    & legend {
      color: var(--text-color);
      font-weight: 400;
      font-size: var(--heading-6);
      padding: calc(var(--1px)* 12) var(--16px);
      width: 100%;
      font-family: inherit;
      line-height: 1.33;
    }
  }

  .form-submit {
    --width: 190;
  }
  .processing-of-personal-data {
    padding-right: var(--40px);
    margin-top: calc(var(--20px)* -1);
  }

  @media screen and (--screen-phone) {
    fielset.form-row legend {
      padding-left: 0;
    }
    .grade-list {
      display: flex;
      flex-wrap: wrap;
      gap: var(--8px);
    }
    .processing-of-personal-data {
      padding-right: 0;
      margin-top: var(--8px);
      text-align: center;
    }
  }
</style>
