---
import { getImage } from "astro:assets";
import astroLogo from "/src/assets/img/logo.png";
import Section from "../ui/Section.astro";
import Menu from "./Menu.astro";

const optimizedLogo = astroLogo
	? await getImage({ src: astroLogo, quality: "100" })
	: { src: "" };
---

<Section as="header" style="background-color: transparent;">
  <div class="header-layout">
    <div>
      <img
        src={optimizedLogo.src}
        class="logo"
        width="227"
        height="137"
        alt="логотип ИБСИС"
        fetchpriority="high"
      />
    </div>
    <nav>
      <Menu />
    </nav>
  </div>
</Section>

<style>
  @import "/src/assets/css/_custom-media.css";
  .header-layout {
    color: var(--color-product);
    display: flex;
    justify-content: space-between;
    padding: calc(var(--1px) * 24) 0 0;
  }

  .logo {
    transform: translateX(calc((var(--gutter) - var(--30px)) * -1));
    width: calc(var(--1px) * 227);
    height: auto;
    display: block;
  }

  @media screen and (--screen-phone) {
    .header-layout {
    }
  }
</style>
