---
import { getImage } from "astro:assets";
import logo from "/src/assets/img/logo.png";
import Section from "../ui/Section.astro";
import Menu from "./Menu.astro";

const { hideMenu = false, ...props } = Astro.props;

const optimizedLogo = logo
	? await getImage({ src: logo, quality: "100" })
	: { src: "" };
---

<Section as="header" style="background-color: transparent;" {...props}>
  <div class="header-layout">
    <div>
      <img
        src={optimizedLogo.src}
        class="logo"
        width="227"
        height="137"
        alt="логотип ИБСИС"
        fetchpriority="high"
      />
    </div>
    <nav hidden={hideMenu}>
      <button class="header__burger" data-nav-burger>
        <svg
          class="header__icon-menu"
          aria-hidden="true"
          width="40"
          height="30"
          viewBox="0 0 40 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line y1="8.5" x2="40" y2="8.5" stroke="white"></line>
          <line y1="20.5" x2="40" y2="20.5" stroke="white"></line>
        </svg>
        <svg
          class="header__icon-cross"
          aria-hidden="true"
          width="40"
          height="30"
          viewBox="0 0 40 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="5.64645"
            y1="28.9306"
            x2="33.9307"
            y2="0.646356"
            stroke="white"></line>
          <line
            x1="6.35355"
            y1="0.646447"
            x2="34.6378"
            y2="28.9307"
            stroke="white"></line>
        </svg>

        <span class="sr-only">Мобильное меню</span>
      </button>

      <Menu data-nav-menu />
    </nav>
  </div>
</Section>

<script>
  initMobileMenu();

  function initMobileMenu() {
    const burger = document.querySelector("[data-nav-burger]");
    const menu = document.querySelector("[data-nav-menu]");
    const menuLinks = menu?.querySelectorAll("a");

    burger?.addEventListener("click", () => {
      burger.classList.toggle("active");
      menu?.classList.toggle("active");
    });

    [].forEach.call(menuLinks, (link) => {
      link.addEventListener("click", () => {
        setTimeout(() => menu?.classList.remove("active"), 300);
      });
    });
  }
</script>

<style>
  @import "/src/assets/css/_custom-media.css";
  .header-layout {
    color: var(--color-product);
    display: flex;
    justify-content: space-between;
    padding: var(--24px) 0 0;
  }

  .logo {
    transform: translateX(calc((var(--gutter) - var(--30px)) * -1));
    width: calc(var(--1px) * 227);
    height: auto;
    display: block;
  }

  .header__burger {
    display: none;
  }

  @media screen and (--screen-phone) {
    .section {
      z-index: 10;
    }
    .logo {
      transform: none;
      width: calc(var(--1px) * 96);
      position: relative;
      z-index: 101;
    }
    .header-layout {
      padding-top: var(--8px);
    }

    .header__burger {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--40px);
      height: var(--40px);
      background: none;
      border: none;
      padding: 0;
      position: absolute;
      right: var(--16px);
      top: var(--16px);
      z-index: 1;
      position: absolute;

      &::before {
        content: '';
        position: absolute;
        width: var(--70px);
        height: var(--70px);
        border-radius: var(--70px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        z-index: -1;
      }

      & .header__icon-cross {
        display: none;
      }
      &.active {
        position: fixed;
        z-index: 100;
        & .header__icon-menu {
          display: none;
        }
        & .header__icon-cross {
          display: block;
        }
      }
    }
    .menu {
      flex-direction: column;
      gap: var(--24px);
      padding: calc(var(--1px) * 140) var(--30px) var(--110px);
      color: var(--color-product);
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(21, 30, 52, 0.8);
      backdrop-filter: blur(var(--110px));
      width: 100%;
      z-index: 5;
      border-radius: 0 0 var(--24px) var(--24px);
      display: none;
      &.active {
        display: flex;
      }
    }
  }
</style>
