---
import Section from "../ui/Section.astro";
---

<Section invert={true} class="hero-footer">
  <div class="hero-footer__layout">
    <p class="hero-footer__text">
      <span class="h6">12 лет на рынке разработки • Аккредитация Минсвязи</span>
    </p>
    <a href="#contact-form" class="hero-footer__link">
      <span class="h2">связаться</span>
    </a>
  </div>
</Section>

<style>
  @import "/src/assets/css/_custom-media.css";

  .hero-footer {
    padding: var(--16px) 0;
  }
  .hero-foote__layout {
    display: flex;
    justify-content: space-between;
  }

  .hero-footer__text {
    margin: 0;
  }
  .hero-footer__link {
    position: absolute;
    border-radius: var(--30px) var(--30px) 0 0;
    background-color: var(--color-product);
    padding: var(--20px) var(--50px);
    bottom: 0;
    right: 0;
    z-index: 10;
    transition: box-shadow 0.05s ease;

    &,
    & * {
      color: currentColor;
    }
    &:hover,
    &:focus-visible {
      background: linear-gradient(90deg, var(--color-product) 40%, var(--color-violet) 100%), var(--color-product);
      text-decoration: none;
    }
  }

  @supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
      @media screen and (height >= 810) and (--screen-desktop) {
        .hero-footer {
          animation: hide 1s;
          animation-timeline: view();
          transform: translateY(calc(var(--1px) * 65 * -1));
        }
      }
    }
    @keyframes hide {
      0% {
        z-index: 3;
      }
      30% { 
        transform: translateY(calc(var(--1px) * 500));
        z-index: -1;
      }
      100% {
        transform: translateY(calc(var(--1px) * 65 * 2000));
      }
    }
  }

  @media screen and (--screen-phone) {
    .hero-footer__text {
      display: none;
    }
    .hero-footer__link {
      width: 100%;
      text-align: center;
      & span {
        font-size: var(--60px);
      }
      &:focus-visible {
        outline: none;
      }
    }
  }
</style>
