---
import { getImage } from "astro:assets";
import Header from "../components/blocks/Header.astro";
import Section from "../components/ui/Section.astro";
import Layout from "../layouts/Layout.astro";
import background from "./../assets/img/hero_bg.jpg";
import ColoredText from "./../components/ui/ColoredText.astro";

const optimizedBackgroundImage = await getImage({
	src: background,
	quality: "90",
	format: "jpg",
});
---

<Layout title="ИБСИС | 404">
	<main style={{
		backgroundImage: `url(${optimizedBackgroundImage.src})`,
		backgroundSize: "cover",
	}}>
		<Header hideMenu="true" />
		<Section invert={true} style="background-color: transparent;">
			<div class="layout-404">
				<ColoredText class="title">
					<h1>404</h1>
					<span aria-hidden="true">404</span>
					<span aria-hidden="true">404</span>
					<span aria-hidden="true">404</span>

					<span aria-hidden="true">404</span>
					<span aria-hidden="true">404</span>
					<span aria-hidden="true">404</span>
					<span aria-hidden="true">404</span>

					<span aria-hidden="true">404</span>
					<span aria-hidden="true">404</span>
					<span aria-hidden="true">404</span>
					<span aria-hidden="true">404</span>
				</ColoredText>

				<p>
					Страница затерялась, перейдите на <br>
					<a href="/" class="h5">Главную</a>
				</p>
			</div>
		</Section>
	</main>
</Layout>


<style>
	@import "/src/assets/css/_custom-media.css";
  
	main {
		background-color: #141a2e;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
  	}
	.layout-404 {
		text-align: center;
		margin-bottom: var(--90px);
	}
	.title {
		font-size: var(--heading-1);
		line-height: 1.09;
		margin: var(--20px) 0 var(--60px);
		display: block;
	}
	h1 {
		display: inline;
	}

	.menu {
		display: none;
	}
  
	@media screen and (--screen-phone) {
	}
  </style>
  