---
const { width = 1440, ...props } = Astro.props;
---

<div class="container" {...props}>
  <slot />
</div>

<style define:vars={{ width }}>
  @import "/src/assets/css/_custom-media.css";
  
  .container {
    max-width: calc(var(--1px) * var(--container-width));
    width: 100%;
    padding: 0 var(--gutter) 0.02px;
    margin: 0 auto;
  }

  @media screen and (--screen-phone) {
    .container {
      width: calc(var(--1px) * var(--container-width));
    }
  }
</style>
